.file-field {
    position: relative
}
.file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px
}
.file-field input.file-path {
    width: 100%;
    text-align:-webkit-center
}
.file-field .btn11,
.file-field .btn11-large {
    float: left;
    height: 3rem;
    line-height: 3rem
}
.file-field span {
    cursor: pointer
}
.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0)
}
nav .input-field {
    margin: 0;
    height: 100%
}
nav .input-field input {
    height: 100%;
    font-size: 1.2rem;
    border: none;
    padding-left: 2rem
}
nav .input-field input:focus,
nav .input-field input[type=text1]:valid,
nav .input-field input[type=password]:valid,
nav .input-field input[type=email]:valid,
nav .input-field input[type=url]:valid,
nav .input-field input[type=date]:valid {
    border: none;
    box-shadow: none
}
nav .input-field label {
    top: 0;
    left: 0
}
nav .input-field label i {
    color: rgba(255, 255, 255, 0.7);
    transition: color .3s
}
nav .input-field label.active i {
    color: #fff
}
nav .input-field label.active {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.input-field.col .dropdown-content [type="checkbox"]+label {
    top: 1px;
    left: 0;
    height: 18px
}
.input-field {
    position: relative;
    margin-top: 1rem
}
.input-field.inline {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px
}
.input-field.inline input,
.input-field.inline .select-dropdown {
    margin-bottom: 1rem
}
.input-field.col label {
    left: 0.75rem
}
.input-field.col .prefix ~ label,
.input-field.col .prefix ~ .validate ~ label {
    width: calc(100% - 3rem - 1.5rem)
}
.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out
}
.input-field label.active {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%)
}
.input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color .2s
}
.input-field .prefix.active {
    color: #26a69a
}
.input-field .prefix ~ input,
.input-field .prefix ~ textarea,
.input-field .prefix ~ label,
.input-field .prefix ~ .validate ~ label,
.input-field .prefix ~ .autocomplete-content {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem)
}
.input-field .prefix ~ label {
    margin-left: 3rem
}
@media only screen and (max-width: 992px) {
    .input-field .prefix ~ input {
        width: 86%;
        width: calc(100% - 3rem)
    }
}
@media only screen and (max-width: 600px) {
    .input-field .prefix ~ input {
        width: 80%;
        width: calc(100% - 3rem)
    }
}
.input-field input[type=search] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem)
}
.input-field input[type=search]:focus {
    background-color: #fff;
    border: 0;
    box-shadow: none;
    color: #444
}
.input-field input[type=search]:focus+label i,
.input-field input[type=search]:focus ~ .mdi-navigation-close,
.input-field input[type=search]:focus ~ .material-icons {
    color: #444
}
.input-field input[type=search]+label {
    left: 1rem
}
.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
    position: absolute;
    top: 0;
    right: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color
}

.file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px
}
.file-field input.file-path {
    width: 100%
}
input:not([type]).validate+label,
input[type=text1].validate+label,
input[type=password].validate+label,
input[type=email].validate+label,
input[type=url].validate+label,
input[type=time].validate+label,
input[type=date].validate+label,
input[type=datetime].validate+label,
input[type=datetime-local].validate+label,
input[type=tel].validate+label,
input[type=number].validate+label,
input[type=search].validate+label,
textarea.materialize-textarea.validate+label {
    width: 100%;
    pointer-events: none
}


.input-field.col .prefix ~ .validate ~ label {
    width: calc(100% - 3rem - 1.5rem)
}

.input-field .prefix ~ .validate ~ label,
.input-field .prefix ~ .autocomplete-content {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem)
}


/*Button class*/

.btn11,
.btn11-large,
.btn1-floating,
.dropdown-content,
.collapsible,
.side-nav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.file-field .btn1,
.file-field .btn1-large {
    float: left;
    width: 90px;
    height: 34px;
    line-height: 3rem;
    margin-top:6px
}
.btn1:hover,
.btn1-large:hover,
.btn1-floating:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2)
}

.card .card-action a:not(.btn1):not(.btn1-large):not(.btn1-floating) {
    color: #ffab40;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase
}
.card .card-action a:not(.btn1):not(.btn1-large):not(.btn1-floating):hover {
    color: #ffd8a6
}

.btn1,
.btn1-large,
.btn1-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    margin-top:6px
}
.btn1.disabled,
.disabled.btn1-large,
.btn1-floating.disabled,
.btn1-large.disabled,
.btn1-flat.disabled,
.btn1:disabled,
.btn1-large:disabled,
.btn1-floating:disabled,
.btn1-large:disabled,
.btn1-flat:disabled,
.btn1[disabled],
[disabled].btn1-large,
.btn1-floating[disabled],
.btn1-large[disabled],
.btn1-flat[disabled] {
    pointer-events: none;
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default
}
.btn1.disabled:hover,
.disabled.btn1-large:hover,
.btn1-floating.disabled:hover,
.btn1-large.disabled:hover,
.btn1-flat.disabled:hover,
.btn1:disabled:hover,
.btn1-large:disabled:hover,
.btn1-floating:disabled:hover,
.btn1-large:disabled:hover,
.btn1-flat:disabled:hover,
.btn1[disabled]:hover,
[disabled].btn1-large:hover,
.btn1-floating[disabled]:hover,
.btn1-large[disabled]:hover,
.btn1-flat[disabled]:hover {
    background-color: #DFDFDF !important;
    color: #9F9F9F !important
}
.btn1,
.btn1-large,
.btn1-floating,
.btn1-large,
.btn1-flat {
    outline: 0
}
.btn1 i,
.btn1-large i,
.btn1-floating i,
.btn1-large i,
.btn1-flat i {
    font-size: 1.3rem;
    line-height: inherit
}
.btn1:focus,
.btn1-large:focus,
.btn1-floating:focus {
    background-color: #1d7d74
}
.btn1,
.btn1-large {
    text-decoration: none;
    color: #fff;
    background-color: #f1524b;
    text-align: left;
    letter-spacing: -0.5px;
    transition: .2s ease-out;
    cursor: pointer;
    width: 121px;
    font-size: 0.8em
}
.btn1:hover,
.btn1-large:hover {
    background-color: #f1524b
}
.btn1-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle
}
.btn1-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px
}
.btn1-floating:hover {
    background-color: #26a69a
}
.btn1-floating:before {
    border-radius: 0
}
.btn1-floating.btn1-large {
    width: 56px;
    height: 56px
}
.btn1-floating.btn1-large i {
    line-height: 56px
}
button.btn1-floating {
    border: none
}
.fixed-action-btn1 {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998
}
.fixed-action-btn1.active ul {
    visibility: visible
}
.fixed-action-btn1.horizontal {
    padding: 0 0 0 15px
}
.fixed-action-btn1.horizontal ul {
    text-align: right;
    right: 64px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    left: auto;
    width: 500px
}
.fixed-action-btn1.horizontal ul li {
    display: inline-block;
    margin: 15px 15px 0 0
}
.fixed-action-btn1.toolbar {
    padding: 0;
    height: 56px
}
.fixed-action-btn1.toolbar.active>a i {
    opacity: 0
}
.fixed-action-btn1.toolbar ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    bottom: 0
}
.fixed-action-btn1.toolbar ul li {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    margin: 0;
    height: 100%;
    transition: none
}
.fixed-action-btn1.toolbar ul li a {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    line-height: 56px;
    z-index: 1
}
.fixed-action-btn1.toolbar ul li a i {
    line-height: inherit
}
.fixed-action-btn1 ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden
}
.fixed-action-btn1 ul li {
    margin-bottom: 15px
}
.fixed-action-btn1 ul a.btn1-floating {
    opacity: 0
}
.fixed-action-btn1 .fab-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 40px;
    height: 40px;
    background-color: #26a69a;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0)
}
.btn1-flat {
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
    transition: background-color .2s
}
.btn1-flat:focus,
.btn1-flat:active {
    background-color: transparent
}
.btn1-flat:focus,
.btn1-flat:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none
}
.btn1-flat:active {
    background-color: rgba(0, 0, 0, 0.2)
}
.btn1-flat.disabled {
    background-color: transparent !important;
    color: #b3b3b3 !important;
    cursor: default
}
.btn1-large {
    height: 54px;
    line-height: 54px
}
.btn1-large i {
    font-size: 1.6rem
}
.btn1-block {
    display: block
}






input:not([type]),
input[type=text1],
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s
}

input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type=text1]:disabled,
input[type=text1][readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
    color: rgba(0, 0, 0, 0.26);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.26)
}
input:not([type]):disabled+label,
input:not([type])[readonly="readonly"]+label,
input[type=text1]:disabled+label,
input[type=text1][readonly="readonly"]+label,
textarea.materialize-textarea:disabled+label,
textarea.materialize-textarea[readonly="readonly"]+label {
    color: rgba(0, 0, 0, 0.26)
}
input:not([type]):focus:not([readonly]),
input[type=text1]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #f1524b;
    box-shadow: 0 1px 0 0 #f1524b;
}
input:not([type]):focus:not([readonly])+label,
input[type=text1]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #26a69a
}
input:not([type]).valid,
input:not([type]):focus.valid,
input[type=text1].valid,
input[type=text1]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50
}
input:not([type]).valid+label:after,
input:not([type]):focus.valid+label:after,
input[type=text1].valid+label:after,
input[type=text1]:focus.valid+label:after,
input[type=search]:focus.valid+label:after,
textarea.materialize-textarea.valid+label:after,
textarea.materialize-textarea:focus.valid+label:after {
    content: attr(data-success);
    color: #4CAF50;
    opacity: 1
}
input:not([type]).invalid,
input:not([type]):focus.invalid,
input[type=text1].invalid,
input[type=text1]:focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336
}
input:not([type]).invalid+label:after,
input:not([type]):focus.invalid+label:after,
input[type=text1].invalid+label:after,
input[type=text1]:focus.invalid+label:after,
textarea.materialize-textarea.invalid+label:after,
textarea.materialize-textarea:focus.invalid+label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1
}
input:not([type]).validate+label,
input[type=text1].validate+label,
textarea.materialize-textarea.validate+label {
    width: 100%;
    pointer-events: none
}
input:not([type])+label:after,
input[type=text1]+label:after,

textarea.materialize-textarea+label:after {
    display: block;
    content: "";
    position: absolute;
    top: 60px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out
}
















