.ripple1 {
    position: relative;
    /*background-color: #4CAF50;*/
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    /*padding: 20px;*/
    width: 120px;
    height:120px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.ripple1:after {
    border: none;
    content: "";
    background: gray;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.ripple1:active:after {
    border:none;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.ripple1:focus{
    outline: 0 !important;
}

