 <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
#ul1 li{
  display: inline;
}
#ul1 li{
  margin-left:7%;
  font-size: 12px;

}
#ul1{
  margin-top:10.5%;
}
#ul2 li{
  display: inline;
}
#ul2{
  margin-top:25%;
}
#ul4 li{
  display: inline;
}

h6{
  font-size:15px;
}

#name{
  font-family:'Roboto', sans-serif;
  font-size:13px;
}

#service{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color:#FFFFFF;
  font-size:15px;
}
#fourth_line{
  font-size:13px;
}
.material-icons {
   
    margin-right: 20px;
    margin-top: -9px;
}
#menu{
  font-size:15px;
  font-family: 'Roboto', sans-serif;
  color:#FFFFFF;
}

 .mdl-layout__drawer-button {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.mdl-layout__header-row .mdl-navigation__link {
    display: block;
    opacity: 1;
    line-height: 64px;
    padding: 0 24px;
    text-decoration: none !important;

}

.dropdown-menu{
 background-color:  #F1524B !important; 
text-transform: capitalize !important;
}
.dropdown-menu{
 background-color:  #F1524B !important; 
 
 }

 /*Below code is for color and top,bottom bar after mouse is Hover in the Drpdown menu*/
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #FFFFFF  !important;
    text-decoration: none !important;

    background-color: #F9524B !important;

 /*   border-bottom: 1px solid #FFFFFF !important;
    border-top: 1px solid #FFFFFF !important;*/
}
/*This code is for  dropdown menu bar*/
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #FFFFFF;
    white-space: nowrap;
    text-decoration: none;
    z-index: -1;

}
/*When we hover this on Nav bar menu items a White line comes down */
.homonhov:hover {
    border-bottom: 4px solid #FFFFFF !important;
    text-decoration: none !important; 
    position: relative !important;}
